<!--  This file is app/views/movies/index.html.erb -->
<h2><%= @summary %></h2>

<% if !@hide_search %>
  <form action="/recipes/search" method="POST">
    <%= token_tag %>
    <div class="form-group">
      <input type="text"
             class="form-control"
             id="inputSearch" name="keywords" aria-describedby="search" placeholder="Enter keywords"
             value="<%= @keyword %>"
      >
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
<% end %>

<% if !@recipes || @recipes.size == 0 %>
  <h1>No results</h1>
<% end %>
<div class="recipeList">
  <% @recipes.each do |recipe| %>
    <div class="card" style="width: 15rem;">
      <div style="position: relative">
        <img src="<%= recipe['image_url'] || image_path('placeholder.jpeg') %>" class="card-img-top" alt="<%= recipe['name'] %>">
        <div class="badge badge-secondary calTip" style="position: absolute; right: 8px; bottom: 8px">
          <%= recipe['calories'] %>kcal
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title recipeName"><%= recipe['name'] %></h5>
        <div>
          <% if recipe['ingredients'] %>
            <% recipe['ingredients'].each do |ingredient| %>
              <span class="badge rounded-pill bg-light text-dark"><%= raw(ingredient) %></span>
            <% end %>
          <% end %>
        </div>
        <div class="mt-2 actionRow">
          <a href="/recipes/<%= recipe['id'] %>" class="mr-2 detail" id="<%= recipe['id'] %>">Details</a>
          <% if @user %>
            <form method="post" action="/recipes/favorite">
              <%= token_tag %>
              <input id="id" name="id" type="hidden" value="<%= recipe['id'] %> %>>"/>
              <input id="positive" name="positive" type="hidden" value="<%= !(recipe['favorited'].nil? ? recipe.favorited : recipe['favorited']) %>"/>
              <button type="submit" style="border: 0" class="favoriteButton">
                <img style="height: 30px; width: 30px" src="<%= (recipe['favorited'].nil? ? recipe.favorited : recipe['favorited']) ? image_path('bookmark-star-fill.svg') : image_path('bookmark-star.svg') %>" />
              </button>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if @pages %>
  <nav class="paginationBar">
    <ul class="pagination">
      <% @pages.each do |page| %>
        <li class="page-item <%= page['disabled'] ? "disabled" : "" %> <%= page['active'] ? "active" : "" %>">
          <a class="page-link" href="<%= page['link'] %>"><%= page['text'] %></a></li>
      <% end %>
    </ul>
  </nav>
<% end %>