<!--  app/views/movies/show.html.erb -->

<div class="section">
  <h2>Details about <em><%= @recipe.name %></em></h2>
</div>
<div class="section voteSection">
  <div class="voteCountGroup upGroup">
    <form method="post" action="/recipes/upvote">
      <%= token_tag %>
      <input id="id" name="id" type="hidden" value="<%= @recipe.id %> %>>"/>
      <button type="submit" style="border: 0" class="voteButton">
        <img style="height: 30px; width: 30px" src="<%= image_path('hand-thumbs-up.svg') %>" />
      </button>
    </form>
    <div class="voteCount"><%= @up_count %></div>
  </div>
  <div class="voteCountGroup downGroup">
    <form method="post" action="/recipes/downvote">
      <%= token_tag %>
      <input id="id" name="id" type="hidden" value="<%= @recipe.id %> %>>"/>
      <button type="submit" style="border: 0" class="voteButton">
        <img style="height: 30px; width: 30px" src="<%= image_path('hand-thumbs-down.svg') %>" />
      </button>
    </form>
    <div class="voteCount"><%= @down_count %></div>
  </div>
</div>
<div class="section">
  <img src="<%= @recipe.image_url || image_path('placeholder.jpeg') %>" class="img-fluid detailImg" alt="Responsive image">
</div>
<div id="details" class="section">
  Released on:
  <%= @recipe.created_at.strftime("%B %d, %Y") %>
</div>
<div class="section">
  <h3>Ingredients:</h3>
  <div>
    <% @ingredients.each do |ingredient| %>
      <span class="badge rounded-pill bg-light text-dark"><%= ingredient['amount'] %> <%= ingredient['metric_unit'] %>
        of <%= ingredient['name'] %></span>
    <% end %>
  </div>
</div>
<div class="section">
  <h3>Steps:</h3>
  <p id="description">
    <%= raw(@recipe.steps) %>
  </p>
</div>