<!--  app/views/movies/show.html.erb -->

<div class="section">
  <h2>Details about <em><%= @recipe.name %></em></h2>
</div>
<div class="section">
  <img src="<%= @recipe.image_url %>" class="img-fluid" alt="Responsive image">
</div>
<div id="details" class="section">
  Released on:
  <%= @recipe.created_at.strftime("%B %d, %Y") %>
</div>
<div class="section">
  <h3>Ingredients:</h3>
  <div>
    <% @ingredients.each do |ingredient| %>
      <span class="badge rounded-pill bg-light text-dark"><%= ingredient['amount'] %> <%= ingredient['metric_unit'] %>
        of <%= ingredient['name'] %></span>
    <% end %>
  </div>
</div>
<div class="section">
  <h3>Steps:</h3>
  <p id="description">
    <%= raw(@recipe.steps) %>
  </p>
</div>