<% flash.each do |type, msgs| %>
  <div class="alert alert-danger">
    <h5>Oops! There are something wrong happen:</h5>
    <ul>
      <% msgs.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="userContainer">
  <h1>Sign Up</h1>
  <hr>
  <%= form_for @user do |f|%>
    <%= f.label :username, class: "userLabel"%><label class="hint">Should length between 3 and 20</label><br>
    <%= f.text_field :username, class: "userTextbox"%><br>
    <%= f.label :password, class: "userLabel"%><label class="hint">Should longer than 5 characters</label><br>
    <%= f.password_field :password, class: "userTextbox"%><br>
    <%= f.label :password_confirmation, "Password Confirmation" , class: "userLabel"%><br>
    <%= f.password_field :password_confirmation, class: "userTextbox" %><br>
    <%= f.submit "Create User", class: "btn-success submit" %>
  <%end%>
</div>


